<?xml version="1.0" encoding="GBK"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

	<!-- 定义业务逻辑组件模板,为之注入DAO组件 -->
	<bean id="managerTemplate" abstract="true" lazy-init="true"
		p:usernameDao-ref="usernameDao"
		p:driverDao-ref="driverDao"
		p:adminaterDao-ref="adminaterDao"
		p:driverCommentsDao-ref="driverCommentsDao"
		p:codeDao-ref="codeDao"
		/>
	<bean id="usernameManager"
		class="org.crazyit.hrsystem.service.impl.UsernameManagerImpl"
		parent="managerTemplate"/>
	<bean id="adminaterManager"
		class="org.crazyit.hrsystem.service.impl.AdminaterManagerImpl"
		parent="managerTemplate"/>
	<bean id="driverManager"
		class="org.crazyit.hrsystem.service.impl.DriverManagerImpl"
		parent="managerTemplate"/>
	<bean id="driverCommentsManager"
		  class="org.crazyit.hrsystem.service.impl.DriverCommentsManagerImpl"
		  parent="managerTemplate"/>
	<bean id="codeManager"
		  class="org.crazyit.hrsystem.service.impl.CodeManagerImpl"
		  parent="managerTemplate"/>
	<bean id="hourManager"
		  class="org.crazyit.hrsystem.service.impl.HourManagerImpl"
		  p:hourDao-ref="hourDao"/>

	<bean id="cronTriggerHour"
		  class="org.springframework.scheduling.quartz.CronTriggerFactoryBean"
		  p:cronExpression="0 0 * * * ? *">
		<property name="jobDetail">
			<!-- 使用嵌套Bean的方式来定义任务Bean
				jobClass指定任务Bean的实现类 -->
			<bean class="org.springframework.scheduling.quartz.JobDetailFactoryBean"
				  p:jobClass="org.crazyit.hrsystem.schedule.AddHour"
				  p:durability="true">
				<!-- 为任务Bean注入属性 -->
				<property name="jobDataAsMap">
					<map>
						<entry key="driverManager" value-ref="driverManager"/>
						<entry key="hourManager" value-ref="hourManager"/>
					</map>
				</property>
			</bean>
		</property>
	</bean>
	<bean id="cronTriggerMonth"
		  class="org.springframework.scheduling.quartz.CronTriggerFactoryBean"
		  p:cronExpression="0 0 0 * * ? *">
		<property name="jobDetail">
			<!-- 使用嵌套Bean的方式来定义任务Bean
				jobClass指定任务Bean的实现类 -->
			<bean class="org.springframework.scheduling.quartz.JobDetailFactoryBean"
				  p:jobClass="org.crazyit.hrsystem.schedule.DeleteMonth"
				  p:durability="true">
				<!-- 为任务Bean注入属性 -->
				<property name="jobDataAsMap">
					<map>
						<entry key="hourManager" value-ref="hourManager"/>
					</map>
				</property>
			</bean>
		</property>
	</bean>
	<!-- 执行实际的调度调度 -->
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="cronTriggerHour"/>
				<ref bean="cronTriggerMonth"/>
			</list>
		</property>
	</bean>
	<!-- 配置Hibernate的局部事务管理器，使用HibernateTransactionManager类
		并注入SessionFactory的引用 -->
	<bean id="transactionManager" class=
		"org.springframework.orm.hibernate4.HibernateTransactionManager"
		p:sessionFactory-ref="sessionFactory"/>	
	<!-- 配置事务增强处理Bean,指定事务管理器 -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<!-- 用于配置详细的事务语义 -->
		<tx:attributes>
			<!-- 所有以'get'开头的方法是read-only的 -->
			<!-- <tx:method name="get*" read-only="true"/> -->
			<!-- 其他方法使用默认的事务设置 -->
			<tx:method name="*"/>
		</tx:attributes>
	</tx:advice>
	<aop:config proxy-target-class="true">
		<aop:pointcut id="leePointcut"
			expression="bean(usernameManager) or bean(adminaterManager) or bean(driverManager) or bean(driverCommentsManager) or bean(codeManager) or bean(hourManager)"/>
		<!-- 指定在leePointcut切入点应用txAdvice事务增强处理 -->
		<aop:advisor advice-ref="txAdvice" 
			pointcut-ref="leePointcut"/>
	</aop:config>	
</beans>